.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
}


.team-1 {
    background-color: rgba(245, 244, 250, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
