.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: rgba(33, 150, 243, 1);
  --dark-shadow: rgba(47, 48, 58, 0.8);
  --bring-shadow: rgba(117, 117, 117, 1);
  --button-text-color: rgba(255, 255, 255, 1);
}

h1,
h2,
h3 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  h1,
h2,
h3 {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  h2 {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    margin-top: 60px;
  }
}
p {
  font-size: 16px;
  line-height: 1.71;
  padding: 0;
}

address {
  font-style: normal;
  line-height: 1.71;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
a:hover {
  color: var(--main-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: flex;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
    line-height: 1.62;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    display: flex;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 26px;
    display: flow-root;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 1.36;
  }
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.13;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
.occupation-as {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .occupation-as {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .occupation-as {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .occupation-as {
    min-width: 1200px;
  }
}
.team-background {
  background-color: #F5F4FA;
}

@media screen and (max-width: 768px) {
  .team-background {
    margin-top: -350px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  align-items: center;
}

img {
  display: block;
}

.web-navigation {
  margin: 0;
}

.web-navigation2 {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .web-navigation2 {
    display: none;
  }
  .web-navigation {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .web-navigation {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .web-navigation2 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 0;
    margin-right: 30px;
    align-items: flex-start;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .web-navigation {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.web-navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .web-navigation__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .web-navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}
@media screen and (min-width: 1200px) {
  .web-navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 0;
  }
}
.web-navigation__icon {
  height: 16px;
  width: 18px;
  fill: var(--bring-shadow);
  margin-right: 10px;
}
.web-navigation__icon:hover {
  fill: var(--main-color);
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.web-navigation__data-contact {
  color: var(--bring-shadow);
  display: flex;
  align-items: center;
  list-style: none;
}

.web-navigation__item {
  margin-left: 50px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .web-navigation__item {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .web-navigation__item {
    padding-left: 0;
  }
}
.logo {
  font-size: 26px;
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-left: 30px;
    padding-top: 0;
  }
}
.all_name span {
  font-family: "Raleway";
  color: var(--main-color);
  line-height: 1.19;
}

.all_name {
  font-family: "Raleway";
  color: black;
  line-height: 1.19;
}

@media screen and (max-width: 768px) {
  .all_name {
    margin-left: 20px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .all_name {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .all_name {
    min-width: 1200px;
  }
}
span {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
}

.active::after {
  content: "";
  display: block;
  width: 58px;
  border-top: 4px solid var(--main-color);
  position: relative;
  top: 28px;
}

.mobile-menu__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  color: #212121;
  transition: var(--main-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__btn--close {
  position: absolute;
  display: flex;
  left: 372px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #212121;
}

.mobile-menu__btn__icon--close:hover {
  fill: var(--main-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mobile-menu__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__btn {
    display: none;
  }
}
.heading {
  height: 600px;
  display: flex;
  align-items: center;
  background-color: var(--dark-shadow);
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px), screen and (min-resolution: 192dpi) and (max-width: 768px), screen and (min-resolution: 2dppx) and (max-width: 768px) {
  .heading {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_background_1x_mobile.jpg");
    height: 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px), screen and (min-resolution: 192dpi) and (max-width: 768px), screen and (min-resolution: 2dppx) and (max-width: 768px) {
  .heading {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_background@2x_mobile.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1200px) {
  .heading {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_background_1x_tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1200px) {
  .heading {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_background@2x_tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .heading {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img_background.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .heading {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img_background_@2x.jpg");
  }
}
.button_index {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.86;
  color: var(--button-text-color);
  background-color: var(--main-color);
  border-radius: 4px;
  border: 0px;
  padding: 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button_index:hover {
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-head {
  list-style: none;
  justify-content: center;
  display: flex;
}

.button-head button:not(last-child) {
  margin-right: 8px;
}

.buissnes {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .buissnes {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .buissnes {
    margin-bottom: 45px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1060px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .buissnes {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
  }
}
.buissnes__area-goal {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: block;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .buissnes__area-goal {
    width: 100%;
    margin-bottom: 175px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .buissnes__area-goal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 354px;
    margin-bottom: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .buissnes__area-goal {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: block;
    justify-content: center;
    align-items: center;
  }
}
.buissnes__goal-icon {
  height: 70%;
  width: 270px;
}

@media screen and (max-width: 768px) {
  .buissnes__goal-icon {
    width: 100%;
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .buissnes__goal-icon {
    width: 100%;
    margin-top: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .buissnes__goal-icon {
    width: 270px;
    margin-top: 15px;
  }
}
.buissnes__goal-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 55px;
}

@media screen and (max-width: 768px) {
  .buissnes__goal-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .buissnes__goal-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 55px;
    width: 354px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .buissnes__goal-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 55px;
  }
}
.buissnes__description {
  line-height: 1.17;
  color: var(--bring-shadow);
  width: 270px;
  justify-content: center;
}
.buissnes__description:not(:last-child) {
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .buissnes__description {
    width: 100%;
  }
  .buissnes__description:not(:last-child) {
    padding-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .buissnes__description {
    line-height: 1.17;
    color: var(--bring-shadow);
    width: 270px;
    justify-content: center;
    width: 354px;
  }
  .buissnes__description:not(:last-child) {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .buissnes__description {
    line-height: 1.17;
    color: var(--bring-shadow);
    width: 270px;
    justify-content: center;
  }
  .buissnes__description:not(:last-child) {
    padding-left: 30px;
  }
}
.occupation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .occupation {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .occupation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .occupation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
  }
}
.occupation__image-space {
  margin-bottom: 30px;
  list-style: none;
}

.occupation__occupation {
  text-transform: uppercase;
  background-color: var(--dark-shadow);
  color: var(--button-text-color);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  top: -70px;
}

.team {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: F5F4FA;
}

@media screen and (max-width: 768px) {
  .team {
    width: 100%;
    display: block;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.team__social-list {
  display: block;
  list-style: none;
  box-sizing: border-box;
}

.team__image-space {
  padding-left: 0;
  background-color: white;
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .team__image-space {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__image-space {
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__image-space {
    margin-left: auto;
    margin-right: auto;
  }
}
.team__group {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  background-color: white;
  text-align: center;
  padding-top: 30px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.17;
  color: var(--bring-shadow);
  text-align: center;
}

.team__contacts-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .team__contacts-icons {
    margin-left: auto;
    margin-right: auto;
  }
}
.team__social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 30px;
  fill: rgb(175, 177, 184);
  list-style: none;
}
.team__social-icons:hover {
  fill: #ffffff;
  background-color: var(--main-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__social-icon:focus {
  fill: #ffffff;
  background-color: var(--main-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .clients {
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(175, 177, 184);
    list-style: none;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-left: 30px;
    fill: rgb(175, 177, 184);
    gap: 30px;
  }
}
.clients__type {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
}
.clients__type:hover {
  fill: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .clients__type {
    border: none;
  }
  .clients__type:hover {
    border: var(--main-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__type {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(175, 177, 184);
    max-width: 380px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__type {
    background-color: #FFFFFF;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(175, 177, 184);
  }
}
.client__area {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  justify-self: center;
  height: 100px;
  cursor: pointer;
}

.client__area:hover {
  fill: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .client__area {
    border: none;
    width: 100%;
  }
  .client__area:hover {
    border: none;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .client__area {
    border: none;
  }
  .client__area:hover {
    border: none;
  }
}
.client__icon {
  fill: rgb(175, 177, 184);
  display: flex;
  align-self: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon:hover {
  fill: var(--main-color);
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .client__icon {
    max-width: 238px;
  }
}
@media screen and (min-width: 1200px) {
  .client__icon {
    width: 170px;
  }
}
footer {
  background-color: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 161px;
}

@media screen and (max-width: 768px) {
  footer {
    height: 603px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer {
    max-width: 1200px;
  }
}
.footer__contact {
  color: var(--bring-shadow);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .footer__contact {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__contact {
    display: block;
    text-align: center;
    margin-right: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_contact {
    min-width: 1200px;
  }
}
.footer__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
    padding-left: 30px;
  }
}
.contact__net {
  list-style: none;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.6);
}

.contact__net-footer {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .occupation-as {
    text-align: center;
  }
}
.second_name span {
  font-family: "Raleway";
  color: var(--main-color);
  line-height: 1.19;
}

span {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
}

.second_name {
  font-family: "Raleway";
  color: white;
  line-height: 1.19;
}

.newsletter > h3 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .newsletter > h3 {
    margin-top: 40px;
  }
}
.newsletter__form {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .newsletter__form {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .newsletter {
    text-align: center;
    width: 100%;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: 40px;
    margin-top: 8px;
  }
}
.newsletter__contact > label {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .newsletter__contact > label {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .newsletter__contact > label {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__contact > label {
    min-width: 1200px;
  }
}
.newsletter__contact {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .newsletter__contact {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .newsletter__contact {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__contact {
    min-width: 1200px;
  }
}
.mail > input {
  background-color: var(--dark-shadow);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 15px;
  color: var(--button-text-color);
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mail > input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mail > input {
    width: 358px;
  }
}
.newsletter__contact > input:focus {
  outline: none;
  border: var(--bring-shadow);
  color: var(--button-text-color);
}

.newsletter__submission {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .newsletter__submission {
    margin-left: 0;
  }
}
.newsletter__icon {
  width: 24px;
  height: 24px;
  position: absolute;
}

.newsletter__btn {
  margin-top: -34px;
  margin-left: 375px;
}

@media screen and (max-width: 768px) {
  .newsletter__btn {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .newsletter__btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__btn {
    margin-top: -50px;
  }
}
.other {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .other {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .other {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .other {
    margin-left: 70px;
    margin-top: 8px;
  }
}
.other__social-list {
  display: block;
  list-style: none;
}

.other__contacts-icons {
  display: flex;
  align-items: center;
  padding-left: 0;
  justify-content: center;
}

.other__social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
}

.other__social-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other__social-icons:hover,
.other__social-icon:focus {
  fill: #ffffff;
  background-color: var(--main-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.other > h3 {
  color: #FFFFFF;
  text-transform: uppercase;
}

.contact__net-footer {
  font-size: 16px;
}

.contact__net {
  list-style: none;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.6);
}

.contact__net-footer {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .occupation-as {
    text-align: center;
  }
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  margin-bottom: 0;
}
.button:hover {
  background-color: var(--main-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.15);
  opacity: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 450px;
    top: 50%;
    transform: translateX(450px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .modal {
    top: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
  }
}
.modal__form > h2 {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 12px;
  padding: 0;
}

.modal__form {
  margin: 40px;
}

.modal__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 4px;
  padding-bottom: 0;
  color: var(--bring-shadow);
}

.modal__form-policy {
  font-size: 14px;
  color: var(--bring-shadow);
  line-height: 1.71;
}

.modal-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  outline: 1px solid black;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

label:focus-within {
  fill: var(--main-color);
}

form > label {
  display: inline;
}

@media screen and (max-width: 768px) {
  form > label {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  form > label {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  form > label {
    min-width: 1200px;
  }
}
input:focus-within {
  cursor: text;
  outline-color: var(--main-color);
  color: var(--main-color);
  padding-left: 25px;
}

input {
  border: 1px solid var(--bring-shadow);
  padding: 8px;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 25px;
}

.modal__icon--person input {
  padding-left: 25px;
}

/*ikony w oknie modalnym*/
.modal__icon--person {
  width: 13px;
  height: 13px;
  position: fixed;
  left: 50px;
  top: 112px;
}

.modal__icon--phone {
  width: 13px;
  height: 13px;
  position: fixed;
  left: 50px;
  top: 177px;
}

.modal__icon--mail {
  width: 13px;
  height: 13px;
  position: fixed;
  left: 50px;
  top: 244px;
}

@media screen and (max-width: 768px) {
  .modal__icon--person {
    top: 130px;
  }
  .modal__icon--phone {
    top: 197px;
  }
  .modal__icon--mail {
    top: 263px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .modal__icon--phone {
    top: 178px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__icon--person {
    top: 129px;
  }
  .modal__icon--phone {
    top: 196px;
  }
  .modal__icon--mail {
    top: 263px;
  }
}
textarea {
  resize: none;
  margin-top: 4px;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
}

textarea:focus-within {
  outline-color: var(--main-color);
}

.modal__form-policy:checked + .modal-form-policy-text::before {
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--main-color);
  background-image: url(../images/vector-policy.svg);
  border-radius: 4px;
  border: 1px solid var(--main-color);
  background-position: 50% 50%;
}

.submission {
  width: 200px;
  height: 50px;
  background-color: var(--main-color);
  color: var(--button-text-color);
  border-radius: 4px;
  border: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.win-modal {
  position: fixed;
  left: 170px;
  top: 510px;
  margin-top: -40px;
  padding: 0;
}

.modal__regulation-link {
  color: var(--main-color);
  font-weight: 400;
  text-decoration: underline;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .backdrop {
    top: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .backdrop {
    height: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    top: 0;
  }
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.project {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 30px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .project {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    justify-content: space-between;
  }
}
.project__box-hide {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  bottom: -294px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__overlay > p {
  color: #FFFFFF;
  padding: 10px;
  font-size: 18px;
  line-height: 1.56;
}

.project__image-space {
  margin-bottom: 30px;
}
.project__image-space:hover .project__overlay {
  transform: translateY(-100%);
}

.project__subtitules {
  padding: 20px 24px 0;
  box-shadow: rgb(238, 238, 238);
  border: 1px solid #EEEEEE;
  position: sticky;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  margin-bottom: 0;
}

.button:hover {
  background-color: var(--main-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-head {
  list-style: none;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 768px) {
  .button-head {
    flex-wrap: wrap;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .button-head {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .button-head {
    min-width: 1200px;
  }
}
.button-head button:not(last-child) {
  margin-right: 8px;
}

.mobile-menu .is-open {
  transform: translateX(100%);
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__list {
  list-style: none;
  font-size: 40px;
  line-height: 1.71;
  color: rgb(33, 33, 33);
}

.mobile-menu__list2 {
  list-style: none;
}

.mobile-menu__contact {
  font-size: 34px;
  line-height: 1.71;
  color: rgb(117, 117, 117);
  margin-top: 160px;
}

.mobile-menu__link .mobile-menu__contact:hover {
  color: var(--main-color);
}

.mobile-menu__social-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 40px;
}

.mobile-menu__social-link {
  color: var(--main-color);
}

.mobile-menu__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  color: #212121;
  transition: var(--main-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__btn--close {
  position: absolute;
  display: flex;
  left: 372px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #212121;
}

.mobile-menu__btn__icon--close:hover {
  fill: var(--main-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mobile-menu__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__btn {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */