.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 100%;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 450px;
    min-height: 581px;
    background-color: #FFFFFF;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .modal {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .backdrop{
        top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .modal {
        top: 70%;
    }
}

@media screen and (min-width: 1200px){
    .modal {
        top: 50%;
    }

    .backdrop {
        top: 30%;
    }
}

.modal__form>h2 {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 12px;
    padding: 0;
}

.modal__form {
    margin: 40px;
}

.modal__title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-bottom: 0;
    color: var(--bring-shadow);
}
.modal__form-policy{
    font-size: 14px;
    color: var(--bring-shadow);
    line-height: 1.71;
}

.modal-form-policy-text::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    outline: 1px solid black;
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    cursor: pointer;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

label:focus-within{
    fill: var(--main-color);
}

form > label {
    display: inline;
}

@media screen and (max-width: 768px) {
    form > label {
        margin-left: auto;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1200px) {
//     form > label {
//         max-width: 1200px;
//     }
// }

// @media screen and (min-width: 1200px){
//     form > label {
//         min-width: 1200px;
//     }
// }

input:focus-within{
    cursor: text;
    outline-color: var(--main-color);
    color: var(--main-color);
    padding-left: 25px;
}

input {
    border: 1px solid var(--bring-shadow);
    padding: 8px;
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 25px;
}

.modal__icon--person input{
    padding-left: 25px;
}
/*ikony w oknie modalnym*/

.modal__icon--person {
    width: 13px;
    height: 13px;
    position: fixed;
    left: 50px;
    top: 112px;
}

.modal__icon--phone {
    width: 13px;
    height: 13px;
    position: fixed;
    left: 50px;
    top: 177px;
}

.modal__icon--mail {
    width: 13px;
    height: 13px;
    position: fixed;
    left: 50px;
    top: 244px;
}

@media screen and (max-width: 768px) {
    .modal__icon--person {
        top: 154px;
    }

    .modal__icon--phone{
        top: 220px;
    }

    .modal__icon--mail{
        top: 286px
    }
}

@media screen and (min-width: 768px) {
    .modal__icon--person {
        top: 134px;
    }
    .modal__icon--phone{
        top: 200px;
    }

    .modal__icon--mail {
        top: 267px;
    }
}

@media screen and (min-width: 892px) {
    .modal__icon--person {
        top: 111px;
    }
    .modal__icon--phone{
        top: 177px;
    }

    .modal__icon--mail {
        top: 244px;
    }
}

@media screen and (min-width: 1200px){
    .modal__icon--person{
        top: 131px;
    }

    .modal__icon--phone{
        top: 196px;
    }

    .modal__icon--mail {
        top: 263px;
    }
}


textarea {
    resize: none;
    margin-top: 4px;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 12px;
}

textarea:focus-within{
    outline-color: var(--main-color);
}

.modal__form-policy:checked + .modal-form-policy-text::before {
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--main-color);
    background-image: url(../images/vector-policy.svg);
    border-radius: 4px;
    border: 1px solid var(--main-color);
    background-position: 50% 50%;
}

.submission {
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--button-text-color);
    border-radius: 4px;
    border: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.win-modal {
    position: fixed;
    left: auto;
    top: 510px;
    margin-top: -40px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .win-modal {
        top: 555px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .win-modal {
        left: 130px;
    }
}

@media screen and (min-width: 1200px){
    .win-modal {
        left: 130px;
    }
}

.modal__regulation-link {
    color: var(--main-color);
    font-weight: 400;
    text-decoration: underline;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .backdrop {
        top: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .backdrop {
        height: 90%;
    }
}

@media screen and (min-width: 1200px){
    .backdrop {
       top: 0;
    }
}