.buissnes__description {
    line-height: 1.17;
    color: var(--bring-shadow);
    width: 270px;
    justify-content: center;

    &:not(:last-child) {
    padding-left: 30px;
}
}


@media screen and (max-width: 768px) {
    .buissnes__description {
        width: 100%;
    
        &:not(:last-child) {
        padding-left: 30px;
    }
}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .buissnes__description {
        line-height: 1.17;
        color: var(--bring-shadow);
        width: 270px;
        justify-content: center;
        width: 354px;
    
        &:not(:last-child) {
        padding-left: 30px;
    }
}
}

@media screen and (min-width: 1200px) {
    .buissnes__description {
        line-height: 1.17;
        color: var(--bring-shadow);
        width: 270px;
        justify-content: center;

        &:not(:last-child) {
        padding-left: 30px;
    }
}
}