.buissnes__goal-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 55px;
}

@media screen and (max-width: 767px) {
    .buissnes__goal-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.17;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin-top: 55px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .buissnes__goal-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.17;
        text-transform: uppercase;
        justify-content: center;
        margin-top: 55px;
        width: 354px;
        text-align: center;
    }
}

@media screen and (min-width: 1200px){
    .buissnes__goal-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.17;
        text-transform: uppercase;
        justify-content: center;
        margin-top: 55px;
    }
}