
@media screen and (min-width: 480px) and (max-width: 768px) {
    .buissnes__area-goal {
        list-style: none;
        display: flex;
        flex-direction: column;

        width: 450px;
        height: 120px;

        padding-bottom: 30px;
        margin-left: 15px 15px 15px;
        background-color: #F5F4FA;
        border-radius: 4px;
}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .buissnes__area-goal {
        list-style: none;
        display: flex;
        flex-basis: calc(100% / 2);
        padding-left: 0;
        margin-bottom: 0;
}
}

@media screen and (min-width: 1200px) {
    .buissnes__area-goal {
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
        display: block;
        justify-content: center;
        align-items: center;
    }
}

// .buissnes__area-goal {
//     width: 270px;
//     height: 120px;
//     background-color: #F5F4FA;
//     border-radius: 4px;
//     display: block;
//     justify-content: center;
//     align-items: center;
// }