.clients__type {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #AFB1B8;

    &:hover {
    fill: var(--main-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (max-width: 767px) {
    .clients__type {
        border: none;
    }

    .clients__type:hover{
    border: var(--main-color);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients__type {
        // border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: rgba(175, 177, 184, 1);
    }
}

@media screen and (min-width: 1200px){
    .clients__type {
        background-color: #FFFFFF;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: rgba(175, 177, 184, 1);
    }
}