.clients {
    background-color: #FFFFFF;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(175, 177, 184, 1);
    list-style: none;
}

@media screen and (min-width: 380px) and (max-width: 767px) {
    .clients {
        background-color: #FFFFFF;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        columns: 100% / 2;
        fill: rgba(175, 177, 184, 1);
        list-style: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients {
        background-color: #FFFFFF;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: rgba(175, 177, 184, 1);
        list-style: none;
    }
}

@media screen and (min-width: 1200px){
    .clients {
        background-color: #FFFFFF;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: rgba(175, 177, 184, 1);
        list-style: none;
    }
}