.clients {
    background-color: #FFFFFF;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(175, 177, 184, 1);
    list-style: none;
}