.heading {
    height: 600px;
    display: flex;
    align-items: center;
    background-color: var(--dark-shadow);
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/Img_background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .heading {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("/images/img_background_1x_mobile.jpg");
        background-repeat: no-repeat;
        background-color: var(--dark-shadow);
        background-size: cover;
        height: 400px;
        background-color: var(--dark-shadow);
    }
}

@media screen and (max-width: 1200px) {
    .heading {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("/images/img_background_1x_tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1200px){
    .heading {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("/images/Img_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
}
// .heading {
//     height: 600px;
//     display: flex;
//     align-items: center;
//     background-color: var(--dark-shadow);
//     margin: 0 auto;
//     max-width: 1600px;
//     text-align: center;
//     justify-content: center;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url("../images/Img_background.jpg"); 
//     background-repeat: no-repeat;
//     background-size: cover;
// }