.logo {
    font-size: 26px;
}

@media screen and (min-width: 1200px){
    .logo{
        padding-left: 30px;
        padding-top: 0;
    }
}

.all_name span {
    font-family: 'Raleway';
    color: var(--main-color);
    line-height: 1.19;
}

.all_name {
    font-family: 'Raleway';
    color: black;
    line-height: 1.19;
}

@media screen and (max-width: 767px) {
    .all_name {
        margin-left: 20px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .all_name {
        margin-left: 40px;
    }
}

@media screen and (min-width: 1200px){
    .all_name {
        min-width: 1200px;
    }
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}