.second_name span {
    font-family: 'Raleway';
    color: var(--main-color);
    line-height: 1.19;
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

.second_name {
    font-family: 'Raleway';
    color: white;
    line-height: 1.19;
}