.logo {
    font-size: 26px;
}

.all_name span {
    font-family: 'Raleway';
    color: var(--main-color);
    line-height: 1.19;
}

.all_name {
    font-family: 'Raleway';
    color: black;
    line-height: 1.19;
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}