.logo {
    font-size: 26px;
}

@media screen and (min-width: 480px) {
    .all_name span {
        font-size: 24px;
        margin-left: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .all_name span {
        font-size: 26px;
        margin-left: 215px;
    }
}

.all_name span {
    font-family: 'Raleway';
    color: var(--main-color);
    line-height: 1.19;
}

.all_name {
    font-family: 'Raleway';
    color: black;
    line-height: 1.19;
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}