.newsletter>h3 {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .newsletter>h3 {
        margin-top: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .newsletter {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1200px){
    .newsletter {
        min-width: 1200px;
    }
}

// .newsletter{
//     width: 100%;
// }

.newsletter__form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.newsletter__contact > label {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .newsletter__contact > label {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .newsletter__contact > label {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1200px){
    .newsletter__contact > label {
        min-width: 1200px;
    }
}

.newsletter__contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .newsletter__contact {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .newsletter__contact {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1200px){
    .newsletter__contact {
        min-width: 1200px;
    }
}

.mail > input{
    background-color: var(--dark-shadow);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;;
    padding: 15px 15px;
    color: var(--button-text-color);
    width: 100%;
}

.newsletter__contact > input:focus{
    outline: none;
    border: var(--bring-shadow);
    color: var(--button-text-color);
}
.newsletter__submission {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.newsletter__icon {
    width: 24px;
    height: 24px;
    position: absolute;
}

.newsletter__btn {
    margin-top: -34px;
    margin-left: 375px;
}

@media screen and (max-width: 767px) {
    .newsletter__btn {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .newsletter__btn {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1200px){
    .newsletter__btn {
        min-width: 1200px;
    }
}