.newsletter>h3 {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding-bottom: 30px;
}

@media screen and (min-width: 380px) and (max-width: 767px) {
    .newsletter>h3 {
        margin-top: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .newsletter {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1200px){
    .newsletter {
        min-width: 1200px;
    }
}

// .newsletter{
//     margin-left: 70px;
//     padding-top: 0;
// }

.newsletter__contact > label {
    margin-top: 80px;
}


.newsletter__contact {
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-left: -60px
}

.mail > input{
    background-color: var(--dark-shadow);
    outline: none;
    border: none;
    padding-left: 25px;
    color: var(--button-text-color);
}

.mail > input:focus{
    outline: none;
    border: var(--bring-shadow);
    color: var(--button-text-color);
}
.newsletter__submission {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.newsletter__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 23px;
    top: 13px;
}

.newsletter__btn {
    margin-top: -34px;
    margin-left: 375px;
}

@media screen and (min-width: 380px) and (max-width: 767px) {
    .newsletter__btn {
        margin-top: 40px;
        margin-left: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .newsletter__btn {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1200px){
    .newsletter__btn {
        min-width: 1200px;
    }
}