.occupation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .occupation {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .occupation {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .occupation {
        min-width: 1200px;
    }
}