.occupation__occupation {
    text-transform: uppercase;
    background-color: var(--dark-shadow);
    color: var(--button-text-color);
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: -70px;
}