.project__overlay {
    position: absolute;
    bottom: -294px;
    left: 0;
    width: 100%;
    // height: 100%;
    background-color: var(--main-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__overlay > p {
    color: #FFFFFF;
    padding: 10px;
    font-size: 18px;
    line-height: 1.56;
}

@media screen and (max-width: 768px) {
    .project__overlay {
        width: 100%;
        height: 100%;
        bottom: -294px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .project__overlay {
        height: 100%;
        bottom: -233px;
    }
}

@media screen and (min-width: 1200px){
    .project__overlay {
        bottom: -231px;
        height: 100%;
    }
}