.project {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 30px;
    justify-content: space-between;
}

// @media screen and (max-width: 768px) {
//     .occupation-as{
//         display: none;
//     }
// }

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .project{
        justify-content: space-around;
        padding-left: 0;
    }
}

@media screen and (min-width: 1200px){
    .project{
        justify-content: space-between;
    }
}