.web-navigation__data-contact {
    color: var(--bring-shadow);
    display: flex;
    align-items: center;
    list-style: none;
}

.web-navigation__data-contact:hover {
    fill: var(--main-color);
        cursor: pointer;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
