.web-navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .web-navigation__list {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .web-navigation__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
}

@media screen and (min-width: 1200px){
    .web-navigation__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-top: 0;
    }
}