.web-navigation__item {
    margin-left: 50px;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .web-navigation__item {
        display: none;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1200px) {
//     .web-navigation__item {
//         margin-left: 50px;
//     }
// }

@media screen and (min-width: 1200px){
    .web-navigation__item {
        padding-left: 0;
    }
}

.web-navigation__icon {
    height: 16px;
    width: 18px;
    fill: var(--bring-shadow);
    margin-right: 10px;
}