.web-navigation2 {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// @media screen and (min-width: 320px) and (max-width: 767px) {
//     .web-navigation {
//         height: 80px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         margin-left: 30px;
//     }
// }

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//     .web-navigation {
//         height: 80px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
// }

// @media screen and (min-width: 1200px){
//     .web-navigation {
//         height: 80px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
// }