.web-navigation__item {
    margin-left: 50px;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .web-navigation__item {
        display: none;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//     .web-navigation__item {
//         margin-left: 50px;
//     }
// }

@media screen and (min-width: 1200px){
    .web-navigation__item {
        padding-left: 0;
    }
}