.clients {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .clients {
        gap: 30px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .clients {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: rgba(175, 177, 184, 1);
        list-style: none;
        gap: 30px;
    }
}

@media screen and (min-width: 1200px){
    .clients {
        margin-left: 30px;

        fill: rgba(175, 177, 184, 1);
        gap: 30px
    }
}