.clients {
    // justify-content: space-between;
    // padding-left: 0;
    // margin-bottom: 0;
    // margin-left: auto;
    // margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .clients {
        width: 100%;
        gap: 30px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: rgba(175, 177, 184, 1);
        list-style: none;
    }
}

@media screen and (min-width: 1200px){
    .clients {
        background-color: #FFFFFF;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: rgba(175, 177, 184, 1);
        list-style: none;
    }
}