
.container {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        max-width: 768px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1200px){
    .container {
        min-width: 1200px;
    }
}


.occupation-as{
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .occupation-as{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .occupation-as{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .occupation-as{
        min-width: 1200px;
    }
}

.team-background {
    background-color: #F5F4FA;
}