
.container {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 768px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1200px){
    .container {
        min-width: 1200px;
    }
}


.occupation-as{
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .occupation-as{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .occupation-as{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .occupation-as{
        min-width: 1200px;
    }
}

.team-background {
    background-color: #F5F4FA;
}

@media screen and (max-width: 768px) {
    .team-background{
        margin-top: -350px;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1200px) {
//     .team-background{
//         display: none;
//     }
// }

// @media screen and (min-width: 1200px){
//     .team-background{
//         min-width: 1200px;
//     }
// }