footer {
    background-color: rgba(47, 48, 58, 1);
    padding-top: 60px;
    padding-bottom: 161px;
}

.footer_contact {
    color: var(--bring-shadow);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}