.team {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: F5F4FA;
}

@media screen and (max-width: 767px) {
    .team {
        width: 100%;
        display: block;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .team {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}